body {
  background-color: #161441;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", sans-serif;
  max-height: 100vh;
  overflow-y: hidden;
}
/* 
.container {

} */

.background-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/Backgroundimage.png");
  background-repeat: no-repeat;
  background-size: 70vw 100vh;
  background-position-y: -14rem;
  z-index: -2;
}

.logo-container {
  padding-top: 3rem;
  padding-left: 3rem;
}

.comingsoon-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column {
  background-color: aqua;
  width: 50%;
}

.main-content {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}
.subContent {
  width: 50%;
}

.content-body {
  width: 70%;
}

.text-emphasize {
  color: #00aaeb;
  font-weight: bold;
}

.text-emphasize:hover,
.text-emphasize:focus {
  color: #17bdff;
  font-weight: bold;
  text-decoration: none;
}

.join-us-text {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-box {
  display: inline-block;
  background-color: #00aaeb;
  border-radius: 5px;
  padding: 0.8rem;
  height: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.simply-countdown {
  display: flex;
  color: white;
  transform: scale(0.6);
}

.simply-countdown > .simply-section {
  /* background-color: transparent; */
  border: none;
  margin-right: 1rem;
  background-color: #00aaeb;
  border-radius: 7px;
}

.simply-countdown > .simply-section .simply-amount {
  /* background-color: red; */
  font-size: 4rem;
  font-weight: bold;
}

.simply-countdown > .simply-section .simply-word {
  font-size: 1.5rem;
}

.seperator {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.timer-heading {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -3rem;
}

.timer {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 11px;
  width: 60%;
  max-height: 13rem;
  padding-bottom: 4rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.subContent-right {
  display: flex;
  justify-content: flex-end;
}

.australia-map {
  width: 80%;
}

.footer {
  height: 100px;
  margin-top: 3rem;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.footer-text {
  font-size: 1.1rem;
}

.footer-icon {
  color: #00aaeb;
  margin-right: 0.5rem;
}

.footer:before {
  content: "";
  background: rgb(22, 20, 65);
  background: linear-gradient(
    90deg,
    rgba(22, 20, 65, 1) 0%,
    rgba(31, 29, 88, 1) 100%
  );
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
}

.sm-icon {
  width: 2.5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.follow-us {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
